header {
    background-color: #2D2D2D;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
    justify-items: center;
    align-items: center;

    h1 {
        grid-area: 1 / 2 / 2 / 3;
    }

    a {
        grid-area: 1 / 4 / 2 / 5;
        color: white;
        text-decoration: none;
    }
}